body{
    background: rgb(220, 185, 221);
    font-family: verdana;

    

}


.photo{
    border: 1px solid rgb(216, 162, 209);
    border-radius: 25%;

}

#title,.subtitle,.post_title{
color: rgb(137, 16, 153);

}
#title{
    font-size: 40px;
    text-transform:uppercase;

}


.post_title{

    font-size: 18px;
    font-style:italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: rgb(219, 217, 217);
    padding: 10px;
    border: 3px solid #000;
    margin: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 5px;
}

.post_contet{
    margin: 0;
    margin-bottom: 15px;
    margin-left: 30px;
    border: 15px;
    
    
}

.post_image{
    margin-bottom: 15px;
    margin-left: 30px;
}


